Package: smqueue
Version: 5.0
Architecture: amd64
Essential: no
Maintainer: Range Networks, Inc. <info@rangenetworks.com>
Installed-Size: 8369
Depends: sqlite3, libosip2-4 | libosip2-10 | libosip2-11, libzmq3 | libzmq5
Section: comm
Priority: optional
Homepage: http://www.rangenetworks.com/
Description: Range Networks - SMQueue RFC-3428 Store and Forward Server
